VITE_JNT_AUTH_TOKEN=your_session_token_here
VITE_JNT_SIGNATURE=your_signature_here
VITE_JNT_SIGNATURE_ID=112
VITE_JNT_USER_CODE=LS0000259718
VITE_JNT_SITE_NAME=MENGGALA
VITE_JNT_IMEI=cccc4b1a8526dd50
VITE_JNT_MAC=02:00:00:00:00:00
VITE_JNT_POSITION=-4.2441297,105.4777717
VITE_MAPOSCOPE_UID=your_maposcope_uid_here
JNT_COOKIE=your_cookie_here
